/* Navibar.css */
.Nav-logo{
    width: 150px;
    height: 100px;
    padding: 20px;
}
.nav-container{
    height: 200px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: aquamarine;
    height: 120px;
  }
  
  .navbar-nav {
    display: flex;
    gap: 30px;
    width: 100%;
    font-size: 20px;
    padding: 30px;
  }
  
 
  
  .navbar-collapse {
    display: flex;
    align-items: center; /* Align vertically in the middle */
    width: 100%;
}
  
  .navbar-toggler {
    order: -1; /* Move the toggler to the left */
  }
  
  /* Optional: Add more styling based on your design preferences */
  